<form class="{{ styles.form }}">
    <h3 class="{{ styles.title }}">Settings</h3>

    <label class="{{ styles.label }}">
        {{{ DisplayNameInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ FistNameInput }}} 
    </label>

    <label class="{{ styles.label }}">
        {{{ SecondNameInput }}}  
    </label>

    <label class="{{ styles.label }}">
        {{{ LoginInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ EmailInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ PhoneInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ AvatarInput }}}
    </label>
    
    <div class="{{ styles.row }}">
        {{{ SaveButton }}}
        {{{ BackButton }}}
    </div>

    
</form>
