<form class="{{ styles.form }}">
    <label class="{{ styles.label }}">
        {{{ LoginInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ PasswordInput }}}
    </label>
    
    <div class="{{ styles.buttons }}">
        {{{ EnterButton }}}
        {{{ RegisterButton}}}
    </div>
</form>
