<form class="{{ styles.form }}">
    <label class="{{ styles.label }}">
        {{{ NameInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ SecondNameInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ LoginInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ EmailInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ PhoneInput }}}
    </label>

    <label class="{{ styles.label }}">
        {{{ PasswordInput }}}
    </label>
    
    <div class="{{ styles.row }}">
        {{{ SignUpButton }}}
        {{{ LoginButton }}}
    </div>
</form>
