<div class="{{ styles.chatsWrapper }}">
    <div class="{{ styles.list }}">
        
    </div>
    <div class="{{ styles.chat }}">
        <div class="{{ styles.msgs }}">
        </div>
        <form class="{{ styles.form }}">
            {{{ messageInput }}}
            {{{ enterButton }}}
        </form>
    </div>
</div>
